<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Camera Live Feed Demo</title>
  </head>
  <body>
   <div>
       <video autoplay id="videoElement"></video>
       <canvas id="canvas" style="display:none;"></canvas>
    </div>
   
   <button id="btn-start">开始摄像头</button>
   <button id="btn-stop" disabled>停止摄像头</button>
    
   <script>
      const videoElement = document.getElementById("videoElement");
      const canvas = document.getElementById("canvas");
      const startButton = document.getElementById("btn-start");
      const stopButton = document.getElementById("btn-stop");
      
      const constraints = { video: true };
      let videoStream;

      function start() {
        navigator.mediaDevices.getUserMedia(constraints)
          .then(handleSuccess)
          .catch(handleError);
      }

      function stop() {
        videoStream.getTracks()[0].stop();
        startButton.disabled = false;
        stopButton.disabled = true;
      }

      function handleSuccess(stream) {
        videoStream = stream;
        videoElement.srcObject = stream;
        startButton.disabled = true;
        stopButton.disabled = false;
        
        // 定义处理视频数据的函数
        function processVideo() {
          canvas.width = videoElement.videoWidth;
          canvas.height = videoElement.videoHeight;
          canvas.getContext('2d').drawImage(videoElement, 0, 0, canvas.width, canvas.height);
          const imgData = canvas.toDataURL('image/jpeg');
          
          // 发送POST请求将图像数据发送到Flask后端
          fetch('http://localhost:9999/process_video', {
            method: 'POST',
            body: imgData,
            headers: {
              'Content-Type': 'image/jpeg'
            }
          })
          .then(response => response.blob())
          .then(processedImgBlob => {
            // 将处理后的图像展示在页面上
            const processedImg = URL.createObjectURL(processedImgBlob);
            const img = document.createElement('img');
            img.src = processedImg;
            document.body.appendChild(img);
          })
          .catch(err => {
            console.error('Error:', err);
          });
          
          requestAnimationFrame(processVideo);
        }
        
        // 开始处理视频数据
        requestAnimationFrame(processVideo);
      }

      function handleError(error) {
        console.error("Error: ", error);
      }

      startButton.onclick = start;
      stopButton.onclick = stop;
    </script>
  </body>
</html>